@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Sistema de gestión de inmuebles </p>
</div>

<div class="modal fade" id="modal-test" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 text-center">Titulo del modal</h5>
            </div>
            <form action="#" method="post">
                <div class="modal-body text-center">
                    <p>Cuerpo del modal</p>
                    <div class="col-12 text-right p-0">
                        <a href="#" data-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>